/*.wrap{*/
/*    background: cornflowerblue;*/
/*    width: 800px;*/
/*    display:flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    flex-wrap: wrap;*/
/*    border: 1px solid black;*/



/*}*/

/*.w{*/
/*    padding: 10px;*/
/*    height: 400px;*/
/*    width: 200px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    flex-direction: column;*/
/*    text-align: center;*/
/*    border: 1px solid black;*/
/*    margin: 10px;*/
/*    border-radius: 5px;*/
/*}*/



/*}*/

/*.text{*/
/*    font-size: 10px;*/
/*    width: 90%;*/
/*    text-align:center;*/

/*}*/


.wrap{
    background: cornflowerblue;
    width: 1200px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid black;



}

.w{
    padding: 10px;
    height: 600px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border: 1px solid black;
    margin: 10px;
    border-radius: 5px;




}

.text{
    font-size: 30px;
    width: 90%;
    text-align:center;
    margin: 10px;

}

.w1{
 border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 40px;


}